table,th,td{
    border-collapse: collapse;
}
th,td{
    padding: 10px;
    margin: 7px;
    text-align: center;
    border-spacing: 10px;
}
th{
    background-color: rgb(222, 213, 202);
}
td{
    background-color: rgb(157, 157, 119);
}